/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset done*/

/* screen reader */
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; 
}

/* --------- start of Aloha CSS -------- */

* {
  box-sizing: border-box;
}


/* fonts from transfonter */

@font-face {
  font-family: 'Playfair Display', Arial, serif; 
  src: url('');
}


body {
  
   width: 100vw;
   text-align: center;
  }
 
/* header */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
}

.logo {
  width: 25%;
  padding-left: 10px;

}

.cart {
  width: 15%;
  padding-right: 10px;

}

nav {
  width: 100%;
  order: 1;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid grey; 
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #e2574c;
  margin: 20px;
  font-size: 12px;
}

/* .logo {
  display: flex;
  justify-content: flex-start;
  flex: 1 auto;
  width: 50%;
  height: 60%;
  background-image: url("images/aloha-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
  background-position-x: left; 
 } */

 /* .cart{
  justify-content: flex-end;
  flex: 1 auto;
  width: 50%;
  height: 60%;
  background-image: url("images/cart-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */





/*  Hero image */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em;
  font-family: "railway", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 1.25em;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("./images/banner-girl.png"), url("./images/flower-bkgd.jpg");
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: center;
  color: #FDFBFB;
}

.hero h2 {
  font-family: Playfair, serif; 
  line-height: 1.25em;
  font-size: 1.5em;
}

/* categories */

/* TODO make the images into links */
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  }

.rectangle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.square {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 250px;
  border: 1px solid green;
}

.rectangle.mens {
  max-width: 100%;
  background-image: url("images/mens-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.rectangle.womens {
  background-image: url("images/womens-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}

.square.trends {
  background-image: url("images/trends-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.square.glasses {
  background-image: url("images/glasses-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.square.sale {
  background-image: url("images/sale-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.square.bags {
  background-image: url("images/bags-category.jpg");
  background-size: contain;
  background-repeat: no-repeat; 
}

.rectangle.womens {
  background-image: url("images/womens-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* another section */

.handcrafted {
  display: flex;
  justify-content: center;
  padding: 4em;
  line-height: 2em;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: "railway", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: gray;
}

.handcrafted h2 {
  padding-bottom: .5em;
  font-family: Railway;
  font-style: italic; 
  font-size: 1.5rem;
  color: black;
  width: 100%;
}

.handcrafted span {
  font-style: normal;
  font-weight: bold;  
  padding-left: .25em;
}


.mostloved {
  display: flex;
  justify-content: center; 
  padding: 1em; 
  width: 100vw;
  font-family: Playfair;
  font-size: 2em;
  font-style: italic;
  color: darkslategrey;
}
.mostloved span {
  padding: .25em;
  font-weight: bold;
  font-style: normal;
  color: black;
}
*/

.signup {
  display: flex;
  flex-direction: column;   
  justify-content: space-evenly;
  width: 100%;
  color: white;
  font-style: normal;
  margin-bottom: 1em;
  font-family:  none;
  font-size: 1.25em;
  line-height: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-family: 'Raleway' , sans-serif; 
  height: -webkit-fill-available;
  background-image: url("images/wave-bkgd.jpg");
  background-repeat: no-repeat;
  background-position: center;  
  background-size: cover;
}

h2 {
  font-family: Playfair, serif;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
span {
  padding: 1.5%;
  font-style: italic;
  font-size: 1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

input[type=email] {
  border-radius: 2em;
  font-family: 'Raleway' , sans-serif; 
  border-style: none;
  text-align: center;
}

button[type=submit] {
  border-radius: 2em;
  font-family: 'Raleway' , sans-serif; 
  border-style: none;
  background-color: #e2574c;
  color: white; 
}
*/

/* footer */

.footer {
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  width: 100%;  
  padding: 4%;
  background-color: grey;
  color: white; 
}

.multiplelineparagraph {
  line-height: 44%;
  margin: 1%;
}

p {
  margin: 2%;
}
p a {
  color: white;
  margin-left: 1%;
}

.icons {
  list-style-type: none;
}


@media all and (min-width: 600px) {
 
  header {
    flex-wrap: nowrap;
    justify-content: stretch;
    width: 100%;
  }

  nav {
    order: 0;
  
  }
  
  nav ul {
    border-style: none;
  }
 
  }

@media all and (min-width: 1240px) {

 .logo {
  
 }

 .cart {
  
 }

ul {
  border-style: none;
}
}

